.App-footer {
  width: 95%;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 6rem;
}

.App-footer-links-list {
  list-style: none;
  padding: 0;
}

.App-footer-links-list li {
  margin-bottom: 1.5rem;
}

@media (min-width: 720px) {
  .App-footer-links-list li {
    margin-bottom: 0.5rem;
  }
}
